html body div#root div.MuiBox-root.css-1izfg5m {
  width: 1400px;
  margin: auto;
  margin-top: auto;
  margin-top: 34px;
}
#full-width-tabpanel-0, #full-width-tabpanel-1, #full-width-tabpanel-2{
    width: 600px;
    margin: 0 auto;
}